.loginScreen {
  border: 0.2em solid black;
  margin-left: 15em;
  margin-right: 15em;
  padding: 2em;
}
.login{
  overflow: auto;
}
.sCartHeading {
  text-align: left;
  height: 10%;
  margin-bottom: 2em;
  width: 100%;
  color:black;
}
.innerBox {
  margin-bottom: 1em;
}
.innerBox input {
  width: 75%;
}
button {
  background-colo: ;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

.searchButton {
  width: 10%
}
.imageStyle {
  height: 1em;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.container {
  display: flex;
  margin-top: 1em;
  width: 100%;
  margin: 0 auto;
  /* Center the DIV horizontally */
}

.fixed-header,
.fixed-footer {
  width: 100%;
  position: fixed;
  background:black;
  color: black;
}

.fixed-header {
  top: 0;
}

.fixed-footer {
  bottom: 0;
}

/* Some more styles to beutify this example */
nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}

.container p {
  line-height: 200px;
  /* Create scrollbar to test positioning */
}
.logo {
  float: left;
  height: 4em;
  width: 15%;
}
.searchInput {
  width: 50%;
  float: left;
  height: 2em;
  margin-top: 1em;
  border-radius: 1.4em;
}
.floatRight {
  float: right;
}
.userInfo {
    margin-right: 2em;
    text-align: left;
}
.userIDetail{
  color: white;
  font-size: 1em;
}
.userIcon{
  height: 1em;
}
.footerLogo{
  font-size: large;
  padding-right: 2em;
}
.filter{
  width: 30%;
}
.productList{
  width: 70%;
}
.borderContainer {
  border: 0.1em solid;
}
.filterList {
  display: flex;
  flex-direction: column;
}
.insideFilter{
  width: 90%;
  margin: 1em;
}
.dropdownList select{
  margin: 1em;
}

.filterScroll {
  overflow: scroll;
  height: 18em;
}

.floatLeft {
  float: left;
}

/* .product-flexbox-column{
  display: flex;
  flex-direction: row;
  margin: 1em;
  
}
*/
.product-flexbox-row {
  display: flex;
  flex-direction: column;
  transition: box-shadow .3s;
  padding: 1em;
  width: 25%;
  text-align: left;
}

.product-flexbox-row:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
} 


.child {
  float: left;
  margin: 15px 0 0 15px;

}

.child:nth-child(3n+1) {
  clear: left;
}
.colorName{
  display: flex;
  flex-direction: row;
}
.colorgrid{
  height: 1em;
  width: 1em;
}

.productImage {
  height: 11em;
  width: 11em;
}
.marginLeft {
  margin-left: 1em;
}